mdlname, cd, cdtex, scale, studio, seq, ctt
{
    font-weight: bolder;
}

mdlname, .mdlname
{
    color:rgb(218, 19, 58);
}

cd, .cd
{
    color: aqua;
}

cdtex, .cdtex
{
    color:aquamarine;
}

scale, .scale
{
    color:chartreuse;
}

ctt, .ctt
{
    color:rgb(161, 0, 161);
}

studio, .studio
{
    color:darkviolet;
}

seq 
{
    color: lightgray;
}
